.ui-popup {
  padding: 60px 40px 60px 60px;
  background-color: #fff;
  border-radius: 32px;
  max-width: 820px;
  margin: 0 auto;

  @media (max-width: 1366px) {
    padding: 52px 32px 52px 52px;
  }

  @media (max-width: 992px) {
    max-width: 94vw;
  }

  @media (max-width: 599px) {
    padding: 32px 22px 32px 32px;
    border-radius: 16px;
  }

  @media (max-width: 480px) {
    padding: 24px 16px 24px 24px;
    border-radius: 16px;
  }

  &__apointment {
    padding: 60px 60px 68px 60px;

    @media (max-width: 599px) {
      padding: 40px 20px 32px 20px;
    }
  }

  &__thank {
   padding: 80px;
   max-width: min(624px, 86vw);

   @media (max-width: 1366px) {
    padding: 60px;
   }

   @media (max-width: 768px) {
    padding: 40px;
   }

   @media (max-width: 599px) {
    padding: 32px;
   }

   @media (max-width: 480px) {
    padding: 26px;
   }
  }

  &-title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 40px;
    text-transform: uppercase;

    @media (max-width: 1366px) {
      font-size: 32px;
      margin-bottom: 36px;
    }

    @media (max-width: 599px) {
      font-size: 28px;
      margin-bottom: 32px;
    }
  }

  &-table {
    width: 100%;
    margin-top: 40px;
    border-collapse: collapse;

    @media (max-width: 599px) {
      margin-top: 32px;
    }

    tr {     
      &:nth-child(odd) {
        background-color: #F4F6FD;
      }
    }

    td {
      padding: 14px 20px;

      @media (max-width: 599px) {
        padding: 6px 10px;
      }
      &:nth-child(2) {
        text-align: right;
        white-space: nowrap;
      }
    }
  }

  &-content {
    margin-top: 60px;

    @media (max-width: 599px) {
      margin-top: 40px;
    }
  }

  &-txt {
    font-size: 18px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 418px;
    padding-right: 40px;

    @media (max-width: 1366px) {
      font-size: 16px;
      max-height: 380px;
    }

    @media (max-width: 1280px) {      
      max-height: 320px;
      padding-right: 30px;
    }

    @media (max-width: 599px) {
      font-size: 14px;
      padding-right: 20px;
    }

    @media (max-width: 480px) {
      padding-right: 14px;
    }

    &::-webkit-scrollbar {
      width: 8px;

      @media (max-width: 1280px) {
        width: 6px;
      }

      @media (max-width: 599px) {
        width: 4px;
      }
    }

    &::-webkit-scrollbar-track {
      background: #E2E5F5
    }

    &::-webkit-scrollbar-thumb {
      background: #EC6B1E
    }
  }
}

.mfp-container {
  padding: 20px;

  @media (max-width: 992px) {
    padding: 14px;
  }
}


.mfp-close {
  font-size: 0px !important;
  width: 48px;
  height: 48px;
  background-color: #EC6B1E !important;
  border-radius: 50%;
  opacity: 1 !important;
  right: -20px !important;
  top: -20px !important;

  @media (max-width: 768px) {
    right: -8px !important;
    top: -8px !important;
  }

  @media (max-width: 599px) {
    width: 42px;
    height: 42px;
  }

  &::after {
    content: "";
    background-image: url("../images/close-popup.svg");
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-size: 100%;

    @media (max-width: 599px) {
      width: 12px;
      height: 12px;
    }
  }
}




.my-mfp-zoom-in .mfp-anim { opacity: 0; transform: scale(0.75); transition: transform .3s .45s ease-in-out, opacity .3s .45s ease-in-out; }

.not_delay .my-mfp-zoom-in .mfp-anim,
.my-mfp-zoom-in .mfp-anim.not_delay { animation-delay: 0s !important; transition: transform .3s 0s ease-in-out, opacity .3s 0s ease-in-out; }

.my-mfp-zoom-in.mfp-ready .mfp-anim { opacity: 1; transform: scale(1); }

.my-mfp-zoom-in.mfp-removing .mfp-anim { transform: scale(0.75); opacity: 0; }

.mfp-bg { opacity: 0; transform: scale(0.92); transition: transform .5s, opacity .5s; }

.mfp-bg.mfp-ready { transform: scale(1); opacity: 0.7; }

.mfp-removing.mfp-bg { opacity: 0; }

.mfp-wrap {
  position: fixed!important;
  top: 0!important;
  height: 100%!important;
  overflow: hidden auto!important;
}

.mfp-bg {
  position: fixed!important;
  top: 0!important;
  height: 100%!important;
}

.mfp-bg.mfp-ready {
  background: #48538DCC;
  opacity: 1;
}

/* Класс для элементов, которые должны отображаться на экранах с шириной 992px и больше */
.show-medium {
  display: none;
}
@media (min-width: 992px) {
  .show-medium {
    display: initial;
  }
}

/* Класс для элементов, которые должны отображаться на экранах с шириной меньше 992px */
.hide-medium {
  display: initial;
}
@media (min-width: 992px) {
  .hide-medium {
    display: none;
  }
}

.ui-btn {
  background-color: $primary;
  color: #fff;
  border: none;
  font-size: 18px;
  padding: 18px 46px;
  border-radius: 32px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #ec7834;
  }

  @media (max-width: 599px) {
    font-size: 16px;
    padding: 14px 40px;
  }

  @media (max-width: 480px) {
   width: 100%;
  }
}

.ui-picker {
  display: none;
}

.ui-label {
  font-size: 14px;
  color: #8B9AAB;
  position: absolute;
  top: -26px;
  left: 0;
  opacity: 0;

  @media (max-width: 599px) {
    font-size: 12px;
    top: -18px;
  }

  &.visible {
    opacity: 1;
  }

 
}

.ui-field {
  position: relative;
  margin-bottom: 40px;

  @media (max-width: 599px) {
    margin-bottom: 32px;
  }

  &__time {
    width: 94px;
    flex: 0 0 94px;
  }

  label.error {
    font-size: 12px;
    position: absolute;
    left: 0;
    bottom: 0;
    color: red;
  }

  .ui-star {
		position: absolute;
    top: 0;
		left: 0;
		font-size: 18px;
		cursor: text;
		z-index: 0;
		pointer-events: none;	

    @media (max-width: 599px) {
      font-size: 16px;
    }
	}

  input.datepicker:valid ~ .ui-star::before {
    content: attr(placeholder);
		position: relative;
    font-size: 14px;
    color: #8B9AAB;
    top: -30px;

    @media (max-width: 599px) {
      font-size: 12px;
      top: -22px;
    }
	}

  input:invalid ~ .ui-star::before {
		content: attr(placeholder);
		position: relative;
		// margin-right: 4px;		
	}
	  
	input:invalid ~ .ui-star::after {
		content: '*';
		position: relative;				
		color: $primary;		
    left: 4px;
	}

  input:invalid ~ .ui-picker {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
	}

	textarea:invalid ~ .ui-star::before {
		content: attr(placeholder);
		position: relative;
		// margin-right: 4px;		
	}
	  
	textarea:invalid ~ .ui-star::after {
		content: '*';
		position: relative;				
		color: $primary;
	}
}

.ui-input {
	border: none;
	border-bottom: 1px solid $input_border;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 16px;
  height: 39px;
	font-size: 18px;
	outline: none;	
	width: 100%;
  font-family: $baseFont;
  border-radius: 0;

  @media (max-width: 599px) {
    font-size: 16px;
    padding-bottom: 12px;
    height: 35px;
  }

  &.error {
    border-color: red;
  }


  &:focus {
    border-color: $primary;
  }

	&::placeholder {
		color: #212121;
	}

  &.datepicker {
    padding-right: 28px;
  }
   
}

.ui-textarea {
	border: none;
	border-bottom: 1px solid $input_border;
	padding-left: 0;
	padding-right: 0;
	// padding-bottom: 16px;
  height: 39px;
	font-size: 18px;
	outline: none;
	width: 100%;
	resize: none;
	max-height: 140px; 
  font-family: $baseFont;
  border-radius: 0;

  @media (max-width: 599px) {
    font-size: 16px;
    // padding-bottom: 12px;
    height: 35px;
  }

  &:focus {
    border-color: $primary;
  }

	&::placeholder {
		color: #212121;
    font-size: 18px;

    @media (max-width: 599px) {
      font-size: 16px;
    }
	}

	-ms-overflow-style: none;  
	scrollbar-width: none;
	&::-webkit-scrollbar {    
	  display: none;
	}
}

.ui-select {
  border: none;
	border-bottom: 1px solid $input_border;
	padding-left: 0;
	padding-right: 0;
	// padding-bottom: 16px;
  height: 39px;
	font-size: 18px;
	outline: none;	
	width: 100%;

  @media (max-width: 599px) {
    font-size: 16px;
    // padding-bottom: 12px;
    height: 34px;
  }

  &:has(select.error) {
    border-color: red;
  }

  &.opened {    
    border-color: $primary;    
  }

  &.disabled {
    .jq-selectbox__select {
      cursor: not-allowed;
      color: #8B9AAB;
      pointer-events: none;     
    }
  }

  &__time {
    .jq-selectbox__dropdown {
      li {
        background-color: #F4F6FD;
        border-radius: 16px;
        padding: 4px 10px;
        width: max-content;
        margin: 0 auto;

        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }
  }

  &__required {
    .jq-selectbox__select-text {
      &::after {
        content: '*';
        padding-left: 4px;
        color: $primary;
      }
    }

    &.changed {
      .jq-selectbox__select-text {
        &::after {
          content: '';
        }
      }
    }
  }  

  .jq-selectbox__select {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    cursor: pointer;
    height: 100%;

    &-text {
      display: flex;
    }
  }

  &.opened {	
		.jq-selectbox__trigger-arrow {
			transform: rotate(180deg);
		}		
	}

  .jq-selectbox__trigger-arrow {
    background-image: url(../images/icon-chevron-down.svg);
		background-repeat: no-repeat;
		background-position: center;
		width: 12px;
		height: 8px;
		background-size: 12px 8px;
		transition: transform 0.3s, background-image 0.3s;
  }
}

.jq-selectbox__dropdown {
  top: calc(100% + 1px);
  background-color: #fff;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 3px 7px 0px rgba(80, 105, 152, 0.1),0px 13px 13px 0px rgba(80, 105, 152, 0.09),0px 28px 17px 0px rgba(80, 105, 152, 0.05),0px 51px 20px 0px rgba(80, 105, 152, 0.01),0px 79px 22px 0px rgba(80, 105, 152, 0);
  // padding-right: 12px;
  width: 100% !important;

  ul {
    margin-top: 12px;
    margin-bottom: 20px;
    max-height: 190px !important;
    overflow-y: auto;      

    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
      background-color: transparent;		
    }
    &::-webkit-scrollbar-thumb {
      width: 4px;
      height: 4px;
      background-color: #E2E5F5;	
      border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: lighten($primary, 8%);
    }
  }
  li {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    cursor: pointer; 
    white-space: break-spaces;

    &.disabled {
      display: none;
    }

    &:not(:last-child) {
      margin-bottom: 4px;
    }

    &:hover {
      background-color: #f4f6fd;      
    }
  }
}

.date-time-wrapper {
  display: flex;
  align-items:flex-end;
  gap: 20px;
}