/* container */
$widthContainer: 1380px;
$paddingContainer: 20px;

/* base typography */
$baseFont: "Inter", sans-serif;
$baseWeight: 400;

/* colors */
$linkColor: #000; /* base color for <a> */

$input_border: #CFDAE7;
$primary: #EC6B1E;